body {
  padding-top: 60px;
  background-color: #F1F1F1;
}

/* header */
.navbar .container {
	background-color: #5cb85c;
  color: white;
	border-color: gray;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  position: relative;
}

.navbar .container::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0px;
  border-color: black transparent transparent transparent;
  border-style: solid;
  border-width: 14px 0 0 14px;
}

.navbar .container::after {
  content: '';
  position: absolute;
  bottom: -15px;
  right: 0px;
  border-color: black transparent transparent transparent;
  border-style: solid;
  border-width: 14px 14px 0 0;
}

.navbar .navbar-brand {
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding-left: 55px;
	background-position: 15px 5px;
  background-repeat: no-repeat;
	background-size: 40px 40px;
}

.navbar .version {
  color: rgba(255, 255, 255, 0.7);
}

.navbar .navbar-collapse > .navbar-text  {
	margin-right: 15px;
}

.navbar .navbar-collapse a {
  color: white;
  text-decoration: underline;
}

.panel {
  margin-left: -1.6em;
  margin-right: -1.6em;
  border-radius: 0px;
  box-shadow: 0px 6px 17px 0px rgba(0,0,0,.2);
  border-left-width: 0;
  border-right-width: 0;
}

pre {
	white-space: pre-wrap;
}

#tabs {
  border-width: 0 1px 1px 1px;
  margin-top: -20px;
  padding-top: 20px;
}

#tabs > ul .glyphicon {
	font-size: 1.6em;
	margin-top: 5px;
	margin-left: 5px;
}

#tabs > div  h5 .btn ,
#tabs > div  h4 .btn
{
	margin-top: -4px;
}

#tabs > div   .btn  {
	padding: 0 6px;
}

#overview-page > ul {
  margin-bottom: 0;
}

#overview-page .btn-group {
	margin-top: -1px;
}

#overview-page .label {
	width: 9em;
	margin-right: 10px;
	margin-top: 2px;
}

#tabs > div  h5,
#tabs > div  h4 {
	margin-bottom: 20px;
}

#tabs > div  h5 .btn,
#tabs > div  h4 .btn {
	margin-left: 5px;
}

.mutation-coverage .progress {
	margin-bottom: 0;
}

.panel-heading .pull-left {
	margin-right: 1em;
}

.panel-body :last-child {
  margin-bottom: 0;
}

.container .project-page {
  padding-bottom: 0;
}

.project-page .panel-heading .btn {
	margin-top: -1px;
}

.project-page .table .glyphicon {
	font-size: 1.6em;
}

.project-page .table th:not(:first-child),
.project-page .table td:not(:first-child) {
	text-align: center;
}

.project-page .old-head {
	font-weight: bold;
}

.signal-page .evaluation {
	font-size: 1.6em;
}

.signal-page .evaluation  > div {
	text-align: center;
}

.signal-page .evaluation  button {
	min-width: 120px;
}

.signal-page .evaluation .glyphicon {
	top: 3px;
}

.signal-page .test-success-section .panel-heading {
	font-weight: bold;
}

.icon-success {
	color: #5cb85c !important;
}

.icon-warning {
	color: #f0ad4e !important;
}

.icon-danger {
	color: #d9534f !important;
}

.message {
	text-align: center;
	font-size: 1.6em;
}

.message .glyphicon {
	top: 4px;
}

#message-list .alert {
  padding: 6px 35px 5px 15px;
}

/* to animate glyphicons */
.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.gly-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.gly-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.gly-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.gly-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.gly-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
